@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --background-color: #040404;
    --nav-background-desktop: linear-gradient(90deg, rgba(88, 88, 88, 0.135) 50%, rgb(185, 185, 185, 0.135) 50%);
    --nav-background-mobile: hsla(240 80% 90% / 0.1);
    --main-background-color: linear-gradient(180deg, rgb(4, 4, 4), rgb(100, 100, 100));
    --gap: 10px;
    
}

html {
    overflow-y: initial;
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #c3c3c3;
}

@media (max-width: 75em) {
    body .primary-nav {
        inset: 0 0 0 30%;
        padding: min(25vh, 10rem) 2em;

        text-align: left;
        justify-content: flex-start;
        --gap: 5em;

        background: var(--nav-background-mobile);

        transform: translateX(100%);
        transition: transform 700ms cubic-bezier(.46,.03,.52,.96);
        opacity: 1;
    }

    .menu-circle {
        opacity: 0;
    }

    .primary-nav[visible-mobile="true"] {
        transform: translateX(0%);
        z-index: 100;
    }

    body .images {
        flex-direction: column;
        align-items: center;
    }

    body .images > a > img {
        width: 500px;
        height: 600px;
    }
    body .infoCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body .card {
        min-width: 70vw;
        min-height: 60vh;
    }

    body .card > p {
        font-size: 3vw;
    }

    body .link {
        top: 50vh;
    }

}

.hero-image {
    position: relative;
    height: 100vh;
    background-image: url("../img/heroImage.png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 30%;    
}
svg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); 
}

#btnNextSlide {
    position: absolute;
    top: 90vh;
    left: 50%;

    transform: translate(-50%);
    z-index: 100;
    color: white;

    padding: 20px;
    font-size: 20px;

    text-decoration: none;
    border: 2px solid white;
    border-radius: 30q 30q 30q 30q;

    animation: buttonFadeIn 1s linear forwards;
    animation-delay: 3s;

    opacity: 0;

    transition: background-color 1s ease-in-out;
}


#btnNextSlide:hover,
#btnNextSlide:focus {
    background-color: white;
    color: black;
}

#text-overlay > #title {
    font-size: 500px;
}


.wrapper> svg {
    position: absolute;
    stroke-dashoffset: 2100;
    stroke-dasharray: 2100;
    animation-name: animateSVGA;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#info {
    min-height: 100vh;
}

#background-text {
    position: absolute;
    margin: 0;
    top:100vh;
    left: 50%;

    transform: translate(-50%);

    opacity: 0.1;
    font-size: 150px;
    color: grey;
}

#title {
    position: relative;
    top: 20px;
    margin: 40px 0 0 0;
    font-size: 50px;
}

#sub-title {
    margin: 20px;
}

#intro-text {
    position: relative;
    left: calc(50vw - 25ch);
    max-width: 50ch;
    text-align: center;
    font-size: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images > a > img {
    width: 25vw;
    height: 50vh;
    margin: 55px 20px 0 20px;
}

.hoverInfo:hover {
    border: 2px solid red;
}


h1, h2, h3, h4, a, p, span {
    color: black;
    font-family: "Yrsa", serif;
}

li > a {
    color: white;
}

.primary-nav[visible-desktop="true"] {
    opacity: 1;
    z-index: 100;
}

.nav-toggle {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 1000;

    width: 3em;
    aspect-ratio: 1;
    background: none;
    border: none;

    cursor: pointer;
}

.nav-bar {
    position: absolute;

    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 20q 0q 20q 0;
    
    transition: all 450ms ease-in-out;
}

.nav-bar:nth-child(2) {
    top: 10px;
}

.nav-bar:nth-child(3) {
    transform: translateY(10px);
}

.nav-close:nth-of-type(1) {
    opacity: 0;
}

.nav-close:nth-of-type(2) {
    transform: translateY(10px) rotate(45deg);

}

.nav-close:nth-of-type(3) {
    transform: rotate(-45deg);
}


.primary-nav {
    position: fixed;
    inset: 0 0 0 0;
    z-index: -1;

    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100vh;
    
    text-align: right;
    gap: var(--gap, 1rem);

    justify-content: center;
    list-style: none;
    
    background: var(--nav-background-desktop);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    
    transition: opacity 350ms ease-in-out;
    opacity: 0;
}

li {
    opacity: 0;
}

.opacity {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.opacity:nth-of-type(1) {
    transition-delay: 500ms;
}

.opacity:nth-of-type(2) {
    transition-delay: 700ms;
}

.opacity:nth-of-type(3) {
    transition-delay: 900ms;
}

.opacity:nth-of-type(4) {
    transition-delay: 1100ms;
}

.opacity:nth-of-type(5) {
    transition-delay: 1300ms;
}

.primary-nav a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 55vw;
    transition: all 350ms ease-in-out;
}

a:hover,
a:focus  {
    color: #B6003D;
}

.no-scroll {
    overflow: hidden;
    touch-action: none;
}

.menu-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100px;
    height: 100px;

    border: 3px solid #B6003D;
    border-radius: 50%;

    z-index: 10000;
    opacity: 0;
}

.animate-circle{
    animation-delay: 1600ms;
    animation-name: menu-circle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate-circle-big {
    animation-delay: 900ms;
    animation-name: menu-drop;
    animation-timing-function: ease-out;
    animation-duration: 1.25s;
    animation-fill-mode: both;
    z-index: -10;
}

#bodySecondary {
    position: absolute;
    height: 100%;
    width: 100vw;
    display: flex;

    background-color: #c3c3c3;
    z-index: -1;
}

#mainSecondary {
    position: absolute;
    top: 30vh;
    display: grid;
    grid-template-columns: 1fr;
}

.heroImage {
    position: absolute;
    width: 100vw;
    height: 30vh;
    top: 0;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

.restaurant {
    background-image: url("/img/restaurantHeroBanner.png");
}

.blur {
    width: 100vw;
    height: 30vh;
    background-color: rgba(88, 88, 88, 0.35);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
}

.infoCards {
    position: absolute;
    top: 30vh;
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border-radius: 25q 0q 0q 0q;
    z-index: -1;
}

.card {
    box-sizing: border-box;
    position: relative;
    transform: translate(0, 25%);

    width: 20vw;
    height: 50vh;

    box-shadow: 10px 5px 5px #525252;
    background-color: #d8d8d8;
}

.card > p {
    color: black;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    max-width: 35ch;
}

#headerPage {
    position: relative;
    top: 5vh;
    left: calc(50vw - 300px);
    width: 600px;
    height: 20vh;
    background-color: rgba(188, 188, 188, 0.135);
    margin: 0;
    text-align: center;
    line-height: 20vh;
    font-size: 50px;
    color: white;
}

.headerCards {
    color: black;
    font-size: 40px;
    text-align: center;
}

hr {
    width: 70%;
    height: 1px;
    margin-top: 0;
    border: none;
    background-image: linear-gradient(to right, transparent, #898270, transparent);
}

.link {
    position: fixed;
    text-decoration: none;
    top: 40vh;
    left: 20px;
    
}

.cardButton {
    display: block;
    color: black;
    padding: 20px;
    border: 2px solid black;
    font-size: 20px;
    min-width: 20ch;
    text-align: center;
    transition: background-color 500ms ease-in-out;
}

.cardButton:hover {
    background-color: black;
    color: white;
}

.booking {
    background-image: url("/img/bookingBanner.png");
}

#text {
    height: 35vh;
    width: 100vw;
    text-align: center;
}

.backgroundText {
    opacity: 0.3;
    font-size: 150px;
    margin: 15px 0 0 0;
    color: grey;
    line-height: 0.7;
}

.title {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
    font-weight: 700;
    margin:0
}

.main {
    position: relative;
    max-width: 85ch;
    left: 50%;
    transform: translate(-50%);
    margin-top: 0;
    font-size: 20px;
}

#border-span {
    border: 2px solid grey;
    padding: 20px;
}

#border-span > a {
    text-decoration: none;
}

#booking-cards {
    display: grid;
    grid-template-columns: 1fr;

    grid-row-gap: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.bookingCard {
    position: relative;
    left: 50%;

    transform: translate(-50%);
    
    min-height: 35vh;
    max-width: 50vw;
    margin: 0;
    padding: 0;

    box-shadow: 10px 10px 10px 10px #9a9a9a;
    background-color: #ebebeb;
}

.bookingCard > img {
    position: absolute;
    top: 0;
    margin-left: calc(50vw - 35vh);
    height: 35vh;
}

#booking-cards > * > h1, 
#booking-cards > * > p {
    margin-left: 40px;
    max-width: 45ch;    
}

.cardTitle {
    font-size: 35px;
}

.paragraphBooking {
    font-size: 25px;
    opacity: 1;
    width: 30ch;
}


#info-rooms {
    list-style: none;
}

.paragraphBooking > p {
    border-bottom: 1px solid #dddd;
    margin: 0px;
    width: 30vw;
}

.paragraphBooking > p:hover {
    background-color: #e1e1e1;
}

.push {
    position: absolute;
    left: min(40vw, 400px);
}

.accesibility {
    background-image: url("/img/heroImage.png");
}

#accesibility-text {
    position: absolute;
    height: 70vh;
    top: 30vh;
    left: 50%
}

.accesibilityText {
    top: 30vh;
    left: 50%;

    transform: translate(-50%);

    width: 25vw;
    height: 37vw;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: white;
    box-shadow: 10px 10px 10px 10px #9a9a9a;

    text-align: center;
}

.accesibilityText > h1 {
    font-size: 35px;
    margin: 0;
}

#main-text {
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
    max-width: 50ch;
}

@keyframes menu-circle{
    0% {width: 0; height: 0; opacity: 0;}
    25% {opacity: 1;}
    100% {width: 100px; height: 100px; opacity: 1;}
}

@keyframes menu-drop {
    0%  {width: 0px; height: 0px; opacity: 0;}
    25% {opacity: 1;}
    100% {width: 140vh; height: 140vh; opacity: 0;}
}

@keyframes animateSVGA {
    0% {stroke-dashoffset: 2100;}
    100%{stroke-dashoffset: 0;}
}

@keyframes buttonFadeIn {
    0% {opacity: 0;}
    100%{opacity: 1}
}

@keyframes buttonBackground {
    0%      {background-color: white; color: white}
    100%    {background-color: white; color: black}
}