@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap');

:root {
    --background-color: #040404;
    --nav-background-desktop: linear-gradient(90deg, rgba(88, 88, 88, 0.135) 50%, rgb(185, 185, 185, 0.135) 50%);
    --nav-background-mobile: hsla(240 80% 90% / 0.1);
    --main-background-color: linear-gradient(180deg, rgb(4, 4, 4), rgb(100, 100, 100));
    --gap: 10px;
    
}

html {
    overflow-y: initial;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #2c2c2c;
}

@media (max-width: 75em) {
    body .primary-nav {
        inset: 0 0 0 30%;
        padding: min(25vh, 10rem) 2em;

        text-align: left;
        justify-content: flex-start;
        --gap: 5em;

        background: var(--nav-background-mobile);

        transform: translateX(100%);
        transition: transform 700ms cubic-bezier(.46,.03,.52,.96);
        opacity: 1;
    }

    .menu-circle {
        opacity: 0;
    }

    .primary-nav[visible-mobile="true"] {
        transform: translateX(0%);
    }    
}

.hero-image {
    position: relative;
    height: 100vh;
    background-image: url("img/DALL·E\ 2022-12-01\ 16.51.06\ -\ Beautiful\ trees\ and\ plants\ in\ front\ of\ luxury\ hotel\ .png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 30%;    
}
svg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); 
}

video {
    width: 100%;
    height: auto;
    animation: pathAnimation 2.2s linear forwards;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}


#text-overlay > #title {
    font-size: 500px;
}


.wrapper> svg {
    position: absolute;
    stroke-dashoffset: 2100;
    stroke-dasharray: 2100;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes animate {
    0% {stroke-dashoffset: 2100;}
    100%{stroke-dashoffset: 0; fill: red}
}

@keyframes pathAnimation {
    0% {clip-path: none; opacity: 0;}
    90%{opacity: 0;}
    100%{clip-path: path("M 135 319.2 L 81.6 468.6 L 130.2 474.6 A 35.048 35.048 0 0 1 131.202 480.314 Q 131.886 487.499 130.209 496.748 A 90.007 90.007 0 0 1 130.2 496.8 Q 104.213 495.563 83.897 495.176 A 911.964 911.964 0 0 0 66.6 495 A 705.513 705.513 0 0 0 58.577 495.057 Q 41.175 495.263 1.8 496.2 Q -1.793 485.421 1.786 474.642 A 37.741 37.741 0 0 1 1.8 474.6 L 41.4 467.4 Q 51 453 65.4 414 L 220.2 0 L 241.2 0 L 415.2 468.6 L 463.8 474.6 A 35.048 35.048 0 0 1 464.802 480.314 Q 465.486 487.499 463.809 496.748 A 90.007 90.007 0 0 1 463.8 496.8 Q 426 495 379.2 495 A 2567.612 2567.612 0 0 0 350.906 495.169 Q 338.203 495.309 323.977 495.567 A 5284.263 5284.263 0 0 0 294 496.2 Q 290.407 485.421 293.986 474.642 A 37.741 37.741 0 0 1 294 474.6 L 343.8 467.4 L 291 319.2 L 135 319.2 Z M 214.8 90.6 L 214.2 90.6 Q 207 118.8 190.8 164.4 L 145.8 289.2 L 280.2 289.2 L 236.4 164.4 Q 223.8 127.8 214.8 90.6 Z");}
}

#background-text {
    position: absolute;
    opacity: 0.1;
    font-size: 150px;
    top: -165px;
    left: 36vw;
}

#title {
    position: relative;
    top: 20px;
    margin: 40px 0 0 0;
    font-size: 50px;
}

#sub-title {
    margin: 20px;
}

#intro {
    position: relative;
    height: 99vh;
}

#intro > p {
    position: relative;
    left: calc(50vw - 25ch);
    max-width: 50ch;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images > img {
    width: 500px;
    height: 600px;
    margin: 55px 20px 0 20px;
}

h1, h2, h4,  a, p, span {
    color: white;
    font-family: "Yrsa", serif;
}



.primary-nav[visible-desktop="true"] {
    opacity: 1;
}

.nav-toggle {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 1000;

    width: 3em;
    aspect-ratio: 1;
    background: none;
    border: none;

    cursor: pointer;
}

.nav-bar {
    position: absolute;

    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 20q 0q 20q 0;
    
    transition: all 450ms ease-in-out;
}

.nav-bar:nth-child(2) {
    top: 10px;
}

.nav-bar:nth-child(3) {
    transform: translateY(10px);
}

.nav-close:nth-of-type(1) {
    opacity: 0;
}

.nav-close:nth-of-type(2) {
    transform: translateY(10px) rotate(45deg);

}

.nav-close:nth-of-type(3) {
    transform: rotate(-45deg);
}


.primary-nav {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 100;

    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100vh;
    
    text-align: right;
    gap: var(--gap, 1rem);

    justify-content: center;
    list-style: none;
    
    background: var(--nav-background-desktop);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    
    transition: opacity 350ms ease-in-out;
    opacity: 0;
}

li {
    opacity: 0;
}

.opacity {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.opacity:nth-of-type(1) {
    transition-delay: 500ms;
}

.opacity:nth-of-type(2) {
    transition-delay: 700ms;
}

.opacity:nth-of-type(3) {
    transition-delay: 900ms;
}

.opacity:nth-of-type(4) {
    transition-delay: 1100ms;
}

.opacity:nth-of-type(5) {
    transition-delay: 1300ms;
}

.primary-nav a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 55vw;
    transition: all 350ms ease-in-out;
}

a:hover,
a:focus  {
    color: #B6003D;
}

.no-scroll {
    overflow: hidden;
    touch-action: none;
}

.menu-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100px;
    height: 100px;

    border: 3px solid #B6003D;
    border-radius: 50%;

    z-index: 10000;
    opacity: 0;
}

.animate-circle{
    animation-delay: 1600ms;
    animation-name: menu-circle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate-circle-big {
    animation-delay: 900ms;
    animation-name: menu-drop;
    animation-timing-function: ease-out;
    animation-duration: 1.25s;
    animation-fill-mode: both;
    z-index: -10;
}

@keyframes menu-circle{
    0% {width: 0; height: 0; opacity: 0;}
    25% {opacity: 1;}
    100% {width: 100px; height: 100px; opacity: 1;}
}

@keyframes menu-drop {
    0%  {width: 0px; height: 0px; opacity: 0;}
    25% {opacity: 1;}
    100% {width: 140vh; height: 140vh; opacity: 0;}
}


