:root {
    --background-color: #040404;
    --nav-background-desktop: linear-gradient(90deg, rgba(88, 88, 88, 0.135) 50%, rgb(185, 185, 185, 0.135) 50%);
    --nav-background-mobile: hsla(240 80% 90% / 0.1);
    --gap: 10px;
    
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Clarkson', sans-serif;
}

main {
    margin: 0;
    height: 100%;
}

.intro-content {
    height: 100vh;
    background-color: rgb(44, 44, 44);
}

main > article {
    display: grid;
    height: 50%;
    grid-template-columns: 1fr 2fr;
    margin-top: 10%;
}

main > article:nth-of-type(2) {
    display: grid;
    height: 50%;
    grid-template-columns: 2fr 1fr;
    margin-top: 10%;
}

main > article > .image-section, .text-section {
    height: 100%;
    border: 2px solid white;
    background-color: #B6003D;
}

@media (max-width: 55em) {
    body .primary-nav {
        inset: 0 0 0 30%;
        padding: min(25vh, 10rem) 2em;

        text-align: left;
        justify-content: flex-start;
        --gap: 5em;

        background: var(--nav-background-mobile);

        transform: translateX(100%);
        transition: all 1200ms cubic-bezier(.46,.03,.52,.96);
        opacity: 1;
    }

    .delay {
        transition: all 1s;
    }

    .menu-circle {
        opacity: 0;
    }

    .primary-nav[visible-mobile="true"] {
        transform: translateX(0%);
    }
}


header {
    position: relative;
    height: 100vh;
    background-image: url("/bghero.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    padding-top: 50vh;
    text-align: center;
    line-height: 15px;
}

#sub-title {
    padding-top: 0;
}
h1, h2, a, p, span {
    color: white;
}

.primary-nav[visible-desktop="true"] {
    opacity: 1;
}

.nav-toggle {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 1000;

    width: 3em;
    aspect-ratio: 1;
    background: none;
    border: none;

    cursor: pointer;
}

.nav-bar {
    position: absolute;

    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 20q 0q 20q 0;
    
    transition: all 450ms ease-in-out;
}

.nav-bar:nth-child(2) {
    top: 10px;
}

.nav-bar:nth-child(3) {
    transform: translateY(10px);
}

.nav-close:nth-of-type(1) {
    opacity: 0;
}

.nav-close:nth-of-type(2) {
    transform: rotate(45deg);
}

.nav-close:nth-of-type(3) {
    transform: rotate(-45deg);
}


.primary-nav {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 100;

    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100vh;
    
    text-align: right;
    gap: var(--gap, 1rem);

    justify-content: center;
    list-style: none;
    
    background: var(--nav-background-desktop);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    
    transition: opacity 350ms ease-in-out;
    opacity: 0;
}

li {
    opacity: 0;
}

.opacity {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.opacity:nth-of-type(1) {
    transition-delay: 500ms;
}

.opacity:nth-of-type(2) {
    transition-delay: 700ms;
}

.opacity:nth-of-type(3) {
    transition-delay: 900ms;
}

.opacity:nth-of-type(4) {
    transition-delay: 1100ms;
}

.opacity:nth-of-type(5) {
    transition-delay: 600ms;
}

.primary-nav a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 55vw;
    transition: all 350ms ease-in-out;
}

a:hover {
    color: #B6003D;
}

.no-scroll {
    overflow: hidden;
    touch-action: none;
}

.test {
    width: 99vw;
    height: 500px;
    background: red;
}

.menu-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100px;
    height: 100px;

    border: 3px solid #B6003D;
    border-radius: 50%;

    z-index: 10000;
    opacity: 0;
}


.animate-circle{
    animation-delay: 1600ms;
    animation-name: menu-circle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animate-circle-big {
    animation-delay: 900ms;
    animation-name: menu-drop;
    animation-timing-function: ease-out;
    animation-duration: 1.25s;
    animation-fill-mode: both;
    z-index: -10;
}

@keyframes menu-circle{
    0% {width: 0; height: 0; opacity: 0;}
    25% {opacity: 1;}
    100% {width: 100px; height: 100px; opacity: 1;}
}

@keyframes menu-drop {
    0%  {width: 0px; height: 0px; opacity: 0;}
    25% {opacity: 1;}
    100% {width: 140vh; height: 140vh; opacity: 0;}
}




/* hentet fra https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
Denne klassen brukes til å skjule tekst vi ikke vil at brukeren skal se,
men som vi fortsatt vil at en evt screenreader(voiceover o.l.) skal kunne lese.flex
Dette er spesielt viktig når det kommer til f.eks knapper eller skjemaer som ikke
har noe tekst på seg til vanlig, men som vi vil at en bruker skal kunne interaktere med */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

