:root {
    --background-color: #040404;
    --nav-background-desktop: linear-gradient(90deg, rgba(88, 88, 88, 0.135) 50%, rgb(185, 185, 185, 0.135) 50%);
    --nav-background-mobile: hsla(240 80% 90% / 0.1);
    --main-background-color: linear-gradient(180deg, rgb(4, 4, 4), rgb(100, 100, 100));
    --gap: 10px;
    
}
html {
    min-height: 100%;
}

body {
    background-color: var(--background-color);
}